<!Doctype html>
<html lang="en">
<head>
<title> Starset Messenger </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Starset, VESSELS, Transmissions, Divisions, Tour">
<meta name="description" content="Starset fan-page">

<link rel="shortcut icon" href="/imagini/W4zTxG_H_400x400.jpg" />      <!--favicon-->
<link rel = "stylesheet" type = "text/css" href = "/css/index_css.css" />
<link rel = "stylesheet" type = "text/css" href = "/css/menu.css" />
<link rel = "stylesheet" type = "text/css" href = "/css/photo.css" />
<link rel = "stylesheet" type = "text/css" href = "/css/icon.css" />
<script type="text/javascript" src="/js/menu.js"></script>
</head>
<body>

<header>
<h1 class="c10"> Starset Messengers </h1>

<%- include('menu'); %>   
</header>

<main>
<%- include('icon'); %>

<section>
<h2> Introduction: </h2>
<br/>
<div class="c2">
<blockquote> Starset is an American rock band from Columbus, Ohio, formed by Dustin Bates in 2013. <br/>
 They released their debut album, <i> Transmissions </i>, in 2014 and their second album, <i> Vessels </i>, on January 20, 2017. <br/>
 The band has found success in expanding the ideas of their concept albums through social media and YouTube, <br/>
 with the band generating over $230,000 in revenue from views from the latter as of November 2016. <br/> 
 Their single <i>"My Demons" </i> had accumulated over 280 million YouTube views in the same time period. Their most commercially successful song, <i> "Monster" </i> , <br/>
 peaked at number 2 on the Billboard US Mainstream Rock Songs chart in May 2017. A third studio album, <i> Divisions </i> , was released on September 13, 2019.
 </blockquote>
  </div>
  
 <div class="c3">
 source :  <a href="https://en.wikipedia.org/wiki/Starset" > wikipedia.org  </a> 
 </div>
 
 <aside> 
 <dl>
 <dt> rock </dt>
 <dd> popular music usually played on electronically amplified instruments and characterized by a persistent heavily accented beat, 
 repetition of simple phrases, and often country, folk, and blues elements </dd>
 <dt> album </dt> 
 <dd> a collection usually in book form of literary selections, musical compositions, or pictures </dd>
 <dt> debut </dt>
 <dd> a first appearance </dd>
 </dl>
 
 <div class="c3">
 source: <a href="https://www.merriam-webster.com/dictionary/"> merriam-webster.com/dictionary </a> 
 </div>
 
 </aside>
 
</section>

<section> <h3> Members: </h3>
<ol>
<li>Dustin Bates </li>
<li>Ron DeChant </li>
<li>Brock Richards </li>
<li>Adam Gilbert </li>
</ol>
</section>



<section>
<h2> Demonstrations: </h2>
<br/>

<li> U.S. DEMONSTRATIONS COMMENCE 09.13.2019. <br/>
<figure>
<video width="560" height="315" controls>
<source src="/video/starset_us_demonstrations.mp4" type="video/mp4">
</video> 
</figure>
</li>
<li>  European Tour Recap (feat. "Ricochet")<br/>
<figure>
<video width="560" height="315" controls>
<source src="/video/starset_european_tour_recap_feat_ricochet.mp4" type="video/mp4">
</video>
</figure>

</li>
<li> <i> VESSELS</i> Demo Underway <br/>
<figure>
<video width="560" height="315" controls>
<source src="/video/STARSET-VESSELS-Demonstrations-Underway-Facebook.mp4" type="video/mp4">
</video>
</figure>

</li>

<li>  Denver <br/>
<figure>
<video width="560" height="315" controls>
<source src="/video/STARSET-DENVER-VESSELS-DEMONSTRATION-Facebook.mp4" type="video/mp4">
</video>
</figure>

</li>

<li>  Spokane  <br/>
<figure>
<video width="560" height="315" controls>
<source src="/video/STARSET-COMMS-Spokane-VESSELS-Demonstration-Facebook.mp4" type="video/mp4">
</video>
</figure>

</li>

<li> Reno <br/>
<figure>
<video width="560" height="315" controls>
<source src="/video/STARSET-Reno-VESSELS-Demonstration-Facebook.mp4" type="video/mp4">
</video>
</figure>

</li>


<article> 
<h2>An interview with "Starset" from 93XRadio:</h2>
<blockquote>
Starset​ stopped by at Northern Invasion to talk about their supernatural performances, the best Star Wars movies, and plenty more!
</blockquote>
</article>


<figure>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Z0VO_KizMI0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

</section>

</main>

<footer>
<h3> <i> It Has Begun </i>(audio)  </h3>
<audio controls>
<source src="/audio/Starset - It Has Begun (audio).mp3" type="audio/mp3">
</audio>
</footer>

</body>
</html>