<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/imagini/W4zTxG_H_400x400.jpg" />      <!--favicon-->
<link rel="stylesheet" type="text/css" href="/css/tr_lyrics_extern.css">
<link rel="stylesheet" type="text/css" href="/css/menu.css">
<link rel = "stylesheet" type = "text/css" href = "/css/photo.css" />
<script type="text/javascript" src="/js/menu.js"></script>
<title>  "Transmissions" Lyrics </title>
</head>

<body>
<h1> "Transmissions" lyrics </h1>
<header>
<%- include('menu'); %>  
</header>
<%- include('icon'); %>
<div class="loading">
<img src="/imagini/gif.gif" alt="gif with no background">
</div>

<main>

<div class="responsive">
<nav>
<ol>
<li> <a href="#1"> "First Light" </a> </li>
<li> <a href="#2"> "Down With the Fallen" </a> </li>
<li> <a href="#3">		"Halo" </a> </li>
<li> <a href="#4">	"Carnivore"	</a> </li>
<li> <a href="#5"> "Telescope"	</a> </li>
<li> <a href="#6">	"It Has Begun" </a> </li>
<li> <a href="#7">"My Demons"	   </a> </li>
<li> <a href="#8"> 	"Antigravity" </a> </li>
<li>  <a href="#9"> "Dark On Me"    </a>   </li>
<li>	<a href="#10">"Let It Die"   </a> </li>
<li> <a href="#11">	"The Future is Now"</a> 	</li>
<li> <a href="#12">	"Point of No Return"    </a>   </li>
<li>	<a href="#13">"Rise and Fall"   </a>    </li>
</ol>
</nav>

<section>
<h2 id="1"> 1. First light (introductory track)  </h2>
Cascading waves of change <br/>
(The future, the future, the future) <br/>
The things we think to be inconsequential, can affect the future unintentionally <br/> <br/>

Once you had the power to effect monumental change, would you let fear consume? <br/>
Or would you overcome? <br/> <br/>

We sent a message (into the past) <br>
A warning of man's imminent demise <br>
We have that message <br>
The following (record) was inspired by that message <br>
Though this story is not inevitable (inevitable), and a society does evolve <br> <br>

We can change our fate <br>
We can change the future <br>
We can change the past <br> 
</section>


<section>
<h2 id="2"> 2. Down With the Fallen </h2>
[Verse 1]                         <br>
Tired eyes, barely open             <br>
Crippled by a promise broken <br>
I have seen an empire falling <br>
Hopeless, can you hear me calling? <br> <br>

[Pre-Chorus] <br>
Turn away from all that I know <br>
Burning this bridge behind me <br>
Light the way and I'll follow <br>
Where you go <br>

[Chorus]                       <br>
Can you tell me what is real? <br>
Cause I've lost my way again  <br>
Can you tell me how to feel?   <br>
Cause I don't feel anything    <br>
Now that I'm down here again   <br>
I'm down with the fallen again  <br> <br>

[Verse 2]                            <br>
Searching through the darkness below  <br>
For a light in seas of shadows        <br>
Far from you, but I could never     <br>
Abdicate, I'll fight forever          <br> <br>

[Pre-Chorus]                        <br>
Turn away from all that I know      <br>
Burning this bridge behind me       <br>
Light the way and I'll follow       <br>
Where you go                        <br> <br>

[Chorus]                              <br>
Can you tell me what is real?          <br>
Cause I've lost my way again<br>
Can you tell me how to feel?<br>
Cause I don't feel anything<br>
Now that I'm down here again<br>
I'm down with the fallen again<br><br>

[Bridge]<br>
I will not run<br>
I will not fall<br>
I will not bury it<br>
This is war!<br>
War!<br>
This is war!<br>
War!<br><br>

[Chorus 2] <br>
Tell me what is real? <br>
Cause I've lost my way again <br>
Can you tell me how to feel?<br>
Cause I don't feel anything<br>
Now that I'm down here (again)<br>
Tell me what is real?<br>
Cause I've lost my way again<br>
Can you tell me how to feel?<br>
Cause I don't feel anything<br>
Now that I'm down here (again) <br>
I'm down with the fallen again <br>
</section>


<section>
<h2 id="3"> 3. Halo </h2>
[Verse 1]                      <br/>
I can see you running, running  <br/>
Running, running  <br/>
Every night from the same darkness <br/>
It's coming, coming <br/>
Coming, coming <br/>
But you are not alone <br/>
If you just say the word <br/>
I'll be there by your side <br/>
You make me more <br/>
You make me superhuman <br/>
And if you need me to <br/>
I will save you <br/> <br/>

[Chorus] <br/>
Send out the signal and I'll fly low <br/>
If it means the death of me, I won't let go <br/>
And if I'm lost in the worlds shadows <br/>
I'll use the light that comes to me <br/>
From your halo <br/> <br/>

[Verse 2] <br/>
When you're backed against the wall <br/>
I could be the one who's always there to break your fall <br/>
You are not alone <br/>
You're the sun, you're the day <br/>
The light that guides me through <br/>
Never run, run away <br/>
I will save you <br/> <br/>

[Chorus] <br/>
Send out the signal and I'll fly low <br/>
If it means the death of me, I won't let go <br/>
And if I'm lost in the worlds shadows <br/>
I'll use the light that comes to me <br/>
From your halo <br/> <br/>

Send out the signal and I'll fly low <br/>
If it means the death of me, I won't let go <br/>
And if I'm lost in the worlds shadows <br/>
I'll use the light that comes to me <br/>
From your halo <br/> <br/>

And if I'm lost in the worlds shadows <br/>
I'll use the light that comes to me <br/>
From your halo <br/>
From your halo <br/>
From your halo <br/>
I won't let go <br/>
I won't let go <br/>
I won't let go <br/>
I won't let go <br/>

And if I'm lost in the worlds shadows <br/>
I'll use the light that comes to me <br/>
From your halo <br/>
Halo... <br/>
Your halo <br/>
</section>


<section>
<h2 id="4"> 4. Carnivore </h2>
All my life they let me know <br>
How far I would not go<br>
But inside the beast still grows<br>
Waiting<br>
Chewing through the ropes<br><br>

Who are you to change this world?<br>
Silly Boy!<br>
No one needs to hear your words<br>
Let it go<br>

Carnivore! Carnivore! <br>
Won't you come digest me? <br>
Take away everything I am <br>
Bring it to an end <br>
Carnivore! Carnivore! <br>
Could you come and change me?<br>
Take away everything I am<br>
Everything I am!<br><br>

I will hide myself below<br>
I'll be what you wanted<br>
Kept inside I won't let go<br>
'Till I burn beyond control<br><br>

Who are you to change this world?<br>
Silly Boy!<br>
No one needs to hear your words<br>
Let it go<br><br>

Carnivore! Carnivore!<br>
Won't you come digest me?<br>
Take away everything I am<br>
Bring it to an end<br>
Make me fall. Make me bleed<br>
Go ahead and change me!<br>
Take away everything I am<br>
Everything I am!<br><br>

Never enough<br>
(Who I am is not good enough)<br>
Never enough<br>
(Who I am)<br><br>

Carnivore! Carnivore!<br>
Won't you come digest me?<br>
Take away everything I am<br>
Bring it to an end<br>
Carnivore! Carnivore!<br>
Could you come and change me?<br>
Take away everything I am<br>
Everything I am!<br>
</section>


<section>
<h2 id="5"> 5. Telescope </h2>
[Verse 1] <br>
You’re out there<br>
(You're out there)<br>
I hear you calling from behind<br>
The star fields<br>
I feel you<br>
Radiating energy like<br>
Eternal northern lights<br><br>

[Pre-Chorus]<br>
Far from the sun<br>
Where no one knows<br>
I’ve watched you from<br>
My telescope<br><br>

[Chorus]<br>
I will travel<br>
The distance in your eyes<br>
Interstellar:<br>
Light years from you<br>
Supernova:<br>
We’ll fuse when we collide<br>
Awaking in the light<br>
Of all the stars aligned<br><br>

[Verse 2]<br>
I see you<br>
Washing over me across the sky<br>
Overcoming<br>
Projected<br>
On my eyes eternally<br>
I find you in the night<br><br>

[Pre-Chorus]<br>
Far from the sun<br>
Where no one knows<br>
I’ve watched you from<br>
My telescope<br><br>

[Chorus]<br>
I will travel<br>
The distance in your eyes<br>
Interstellar:<br>
Light years from you<br>
Supernova:<br>
We’ll fuse when we collide<br>
Awaking in the light<br>
Of all the stars aligned<br><br>

[Bridge]<br>
I will find you<br>
I will find you<br>
I will find you!<br>
I will find you!<br><br>

[Outro/Chorus]<br>
I will travel<br>
The distance in your eyes<br>
Interstellar:<br>
Light years from you<br>
Supernova:<br>
We’ll fuse when we collide<br>
Awaking in the light<br>
Of all the stars aligned<br>
</section>


<section>
<h2 id="6">6. It Has Begun</h2>
Even a well lit place, can hide salvation<br>
A map to a one man maze that never sees the sun<br>
Where the lost are the heroes<br>
And the thieves are left to drown<br>
But everyone knows by now<br>
Fairy-tales are not found<br>
They are written in the walls<br><br>

As we walk in a straight line<br>
Down in the dirt with a landslide approaching<br>
But nothing could ever stop us<br>
From stealing our own place in the sun<br>
We will face the odds against us<br>
And run into the fear we run from(ah ah)<br><br>

It has begun<br><br>

Into the dark below<br>
Evading shadows<br>
Blind in a rabbit's hole<br>
We fall beneath the earth<br>
And watch the shell come unraveled<br>
As the seed begins to rise<br>
Embracing a starlit fate as we wait in the night<br>
It's written in the walls<br><br>

As we walk in a straight line<br>
Down in the dirt with a landslide approaching<br>
But nothing could ever stop us<br>
From stealing our own place in the sun<br>
We will face the odds against us<br>
And run into the fear we run from<br><br>

It has begun<br>
It has begun<br>
It has begun<br>
It has begun<br>
It has begun<br>
</section>


<section>
<h2 id="7"> 7. My Demons </h2>
[Verse 1]<br>
Mayday! Mayday!<br>
This ship is slowly sinking<br>
They think I'm crazy but they don't know the feeling<br>
They're all around me<br>
Circling like vultures<br>
They wanna break me and wash away my colors<br>
Wash away my colors<br><br>

[Chorus]<br>
Take me high and I'll sing<br>
Oh you make everything okay, okay, okay<br>
(Kay, okay, okay)<br>
We are one and the same<br>
Oh you take all of the pain away, away, away<br>
(Way, away, away)<br>
Save me if I become<br>
My demons<br><br>

[Verse 2]<br>
I cannot stop this sickness taking over<br>
It takes control and drags me into nowhere<br>
I need your help, I can't fight this forever<br>
I know you're watching<br>
I can feel you out there<br><br>

[Chorus]<br>
Take me high and I'll sing<br>
Oh you make everything okay, okay, okay<br>
(Kay, okay, okay)<br>
We are one and the same<br>
Oh you take all of the pain away, away, away<br>
(Way, away, away)<br>
Save me if I become<br>
My demons<br><br>

[Bridge]<br>
Take me over the walls below<br>
Fly forever<br>
Don't let me go<br>
I need a savior to heal my pain<br>
When I become my worst enemy<br>
The enemy<br><br>

[Interlude]<br>
Take me high and I'll sing<br>
You make everything okay<br>
We are one and the same<br>
You take all of the pain away<br><br>

[Chorus]<br>
Take me high and I'll sing<br>
Oh you make everything okay, okay, okay<br>
(Kay, okay, okay)<br>
We are one and the same<br>
Oh you take all of the pain away, away, away<br>
(Way, away, away)<br>
Save me if I become<br>
My demons<br>
Take me high and I'll sing<br>
Oh you make everything okay, okay, okay<br>
(Kay, okay, okay)<br>
We are one and the same<br>
Oh you take all of the pain away, away, away<br>
(Way, away, away)<br>
Save me if I become<br>
My demons<br>
</section>


<section>
<h2 id="8"> 8. Antigravity </h2>
[Verse 1]<br>
The more I fight, the more I work<br>
The more I dig into the dirt<br>
To be fed up, to be let down<br>
To somehow turn it all around<br><br>

But then fate knocks me to my knees<br>
And sets new heights beyond my reach<br>
Below the earth, below concrete<br>
The whole world shackled to my feet<br><br>

[Chorus]<br>
Then it falls away into the great escape<br>
Over walls and weights<br>
This anti-gravity taking over me<br><br>

[Verse 2]<br>
And far below, the carnivores<br>
Are looking up to where I soar<br>
Above the clouds, above the storm<br>
Above the earth, I am transformed<br><br>

The energy has set me free<br>
And pulled me through the galaxy<br>
I've risen up beyond the sky<br>
I am awake, I am alive<br><br>

[Chorus]<br>
As it falls away into the great escape<br>
Over walls and weights<br>
This anti-gravity<br>
Let it fly through the universe<br>
Into the outer space<br>
Over walls and weights<br>
This anti-gravity taking over me<br><br>

[Bridge]<br>
(I won't come down)<br>
If you wanna break free<br>
You know where to find me<br>
(down)<br>
If you wanna break free<br>
You know where, you know where...<br>
(down)<br>
If you wanna break free<br>
You know where to find me<br>
(down)<br>
If you wanna break free<br>
You know where..<br><br>

[Chorus] <br>
Let it fall away into the great escape<br>
Over walls and weights<br>
This anti-gravity<br>
Let it fly through the universe<br>
Into the outer space<br>
Over walls and waves<br>
This anti-gravity taking over me<br><br>

[Outro]<br>
(down)<br>
If you wanna break free<br>
You know where to find me<br>
(down)<br>
If you wanna break free<br>
You know where, you know where...<br><br>

Anti-gravity!<br>
Anti-gravity!<br>
Anti-gravity!<br><br>

[Instrumental]<br><br>

[Spoken Outro]<br>
</section>


<section>
<h2 id="9"> 9. Dark On Me </h2>
[Verse 1]<br>
There's no hate<br>
There's no love<br>
Only dark skies that hang above<br>
I call your name as I walk alone<br>
Send a signal to guide me home<br>
Light the night up, you're my dark star<br>
And now you're falling away<br><br>

[Chorus]<br>
But I found in you what was lost in me<br>
In a world so cold and empty<br>
I could lie awake just to watch you breathe<br>
In the dead of night you went dark on me<br><br>

[Verse 2]<br>
You're the cause<br>
The antidote<br>
The sinking ship that I could not let go<br>
You led my way, then disappeared<br>
How could you just walk away and leave me here?<br>
Light the night up, you're my dark star<br>
And now you're falling away<br><br>

[Chorus]<br>
But I found in you what was lost in me<br>
In a world so cold and empty<br>
I could lie awake just to watch you breathe<br>
In the dead of night you went dark on me<br><br>

[Bridge]<br>
Blinded I can't do this on my own<br>
You are all I've got to guide me home<br><br>

[Outro/Chorus]<br>
I could lie awake just to watch you breathe<br>
In the dead of night you went dark on me<br>
(Dark on me, dark on me)<br>
(Dark on me, dark on me)<br>
(Dark on me)<br>
I could lie awake just to watch you breathe<br>
In the dead of night you went dark on me<br><br>

[Spoken Outro]<br>
</section>


<section>
<h2 id="10"> 10. Let It Die </h2>
[Verse 1]<br>
I cut you into pieces<br>
Searching for your imperfections<br>
I had plans to make you whole<br>
But all my threads couldn't stop the bleeding<br>
There's nothing left, but I'm not leaving<br>
When all I know is you<br><br>

[Chorus]<br>
I've been looking for a way<br>
To bring you back to life<br>
And if I could find a way, then I would bring you back tonight<br>
I'd make you look, I'd make you lie<br>
I'd take the coldness from your eyes<br>
But you told me, if you love me<br>
Let it die<br><br>

[Verse 2]<br>
Your eyes stare right through me<br>
Ignoring my failed attempts to<br>
Breathe back life into your veins<br>
But I can't start your cold heart beating<br>
You're so far gone, but I'm not leaving<br>
When all I know is you<br><br>

[Chorus]<br>
I've been looking for a way<br>
To bring you back to life<br>
And if I could find a way, then I would bring you back tonight<br>
I'd make you look, I'd make you lie<br>
I'd take the coldness from your eyes<br>
But you told me, if you love me<br>
Let it die<br><br>

[Bridge]<br>
And you left me more dead<br>
Than you'll ever know<br>
When you left me alone<br><br>

[Chorus]<br>
I've been looking for a way<br>
To bring you back to life<br>
And if I could find a way, then I would bring you back tonight<br>
I'd make you look, I'd make you lie<br>
I'd take the coldness from your eyes<br>
But you told me, if you love me<br>
Let it die<br><br>

[Outro]<br>
Let it die<br>
Let it die<br>
Let it die<br>
Let it die<br>
</section>


<section>
<h2 id="11"> 11. The Future Is Now </h2>
They said there was no way<br>
But they forgot the black hole in the sky<br>
Yesterday is nothing<br>
I have half a life to rewrite<br>
Flying into this future<br>
I will let the science bring the change<br>
This will be the final cure<br>
I am gonna take the past away<br><br>

With the full force<br>
Of a dying star<br>
I will find you<br>
If you're near or far<br>
Wherever you are<br>
Wherever you are<br>
Wherever you are<br>
Wherever you are<br><br>

Floating through forever<br>
I am stealing the energy<br>
Endlessly endeavor<br>
This is finding infinity<br>
I'm falling through a dark sunrise<br>
I will escape the entropy<br>
And find a way to leave this time<br>
I will bring you back to me<br><br>

With the full force<br>
Of a dying star<br>
I will find you<br>
If you're near or far<br>
Wherever you are<br>
Wherever you are<br>
Wherever you are<br>
Wherever you are<br>
Wherever<br><br>

Wherever you are!<br>
Wherever you are!<br>
</section>


<section>
<h2 id="12"> 12. Point of No Return </h2>
[Intro]<br>
There's a memory of how we used to be<br>
That I can see through the flames<br>
I am hypnotized as I fantasize<br>
Forgetting lies and pain<br>
But I can't go back<br><br>

[Pre-Chorus]<br>
The ashes call my name<br><br>

[Chorus]<br>
Pouring the fuel, fanning the flames<br>
Breaking the habit and melting the chains<br>
Embracing the fear, chasing the fight<br>
The glow of the fire will light up the night<br>
The bridges are burning, the heat's on my face<br>
Making the past an unreachable place<br>
Pouring the fuel, fanning the flames<br>
I know this is the point of no return<br><br>

[Verse 2]<br>
It's uncontrollable, such a beautiful desire<br>
There's something sinister about the way it hurts<br>
When I watch it burn (Higher and higher)<br>
Because I can't go back<br><br>

[Pre-Chorus]<br>
The ashes call my name<br><br>

[Chorus]<br>
Pouring the fuel, fanning the flames<br>
Breaking the habit and melting the chains<br>
Embracing the fear, chasing the fight<br>
The glow of the fire will light up the night<br>
The bridges are burning, the heat's on my face<br>
Making the past an unreachable place<br>
Pouring the fuel, fanning the flames<br>
I know this is the point of no return<br><br>

[Bridge]<br>
I won't turn around<br>
I won't turn around<br>
I won't turn around<br><br>

[Chorus]<br>
Pouring the fuel, fanning the flames<br>
Breaking the habit and melting the chains<br>
Embracing the fear, chasing the fight<br>
The glow of the fire will light up the night<br>
The bridges are burning, the heat's on my face<br>
Making the past an unreachable place<br>
Pouring the fuel, fanning the flames<br>
I know this is the point of no return<br>
This is the point of no return<br>
This is the point of no return<br>
</section>


<section>
<h2 id="13"> 13. Rise and Fall </h2>
[Verse 1]<br>
Watch them all lie down<br>
Watch the eyeless gain control<br>
(Gain control!)<br>
They could never blind me<br><br>

[Chorus]<br>
I clench the fist and overtake it all<br>
I navigate the endless rise and fall<br>
You push my back against the wall<br>
When I attack I'm taking all<br>
I'm taking it all<br>
Rise and fall<br><br>

[Verse 2]<br>
One more fits inside the mold<br>
One last chance to break the hold<br>
(Break the hold!)<br><br>

[Chorus 2]<br>
I clench the fist and overtake it all<br>
I navigate the endless rise and fall<br>
You push my back against the wall<br>
When I attack I'm taking all<br>
(Taking it all)<br>
Rise and fall!<br>
Rise and fall!<br><br>


[Chorus 1]<br>
I clench the fist and overtake it all<br>
I navigate the endless rise and fall<br>
You push my back against the wall<br>
When I attack I'm taking all<br>
I'm taking it all<br>
Rise and fall<br>
</section>
</div>
</main>
</body>
</html>