<!Doctype html>
<html lang="en">
<head>
<title> Transmissions </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/imagini/W4zTxG_H_400x400.jpg" />      <!--favicon-->
<link rel="stylesheet" type="text/css" href="/css/transmissions_images.css"/>
<link rel = "stylesheet" type = "text/css" href = "/css/menu.css" />
<link rel = "stylesheet" type = "text/css" href = "/css/photo.css" />
<script src="/js/galerie.js"></script>
</head>
<body>
<header>

<%- include('menu'); %> 

</header>
<main>
<%- include('icon'); %>
<div>
<label><input type="checkbox" name="color" value="Colorful images" checked id="color"> Colored </label>
<label><input type="checkbox" name="B&W" value="Black and White images" checked id="colorless"> Black and White </label>
<label> <input type="range" min="0" max="500" name="width" id="width"> Minimum width </label>
<label> <input type="range" min="0" max="300" name="height" id="height"> Minimum height </label>
<textarea name="keywords" rows="3" cols="20" id="keywords"> Keywords </textarea>
<select name="Album" id="select"> 
<option value="transmissions">Transmissions </option>
<option value="vessels"> VESSELS </option>
<option value="divisions"> DIVISIONS </option>
</select>
</div>






<!--<h1> ANTIGRAVITY </h1> <br> -->
<div id="container24">
<figure class="img">
<img src="/imagini/galerie/transmissions/antigravity/1 (4).jpg" alt="astronaut colorless antigravity transmissions song-art picture jpg" class="imgf black transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/antigravity/2 (1).jpg" alt="astronaut colorless antigravity transmissions song-art picture jpg" class="imgf black transmissions" height="980" width="653">
</figure>


<!-- <h1> CARNIVORE </h1> -->

<figure class="img">
<img src="/imagini/galerie/transmissions/carnivore/1 (5).jpg" alt="carnivore transmissions color cvr song-art city jpg" class="imgf colored transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/carnivore/2 (2).jpg" alt="carnivore cvr police officer transmissions colorless jpg" class="imgf black transmissions" height="980" width="653">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/carnivore/4.jpg" alt="carnivore cvr symbol organization colorless transmissions jpg" class="imgf black transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/carnivore/5 (1).jpg" alt="carnivore cvr police officer transmissions colorless jpg" class="imgf black transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/carnivore/6 (1).gif" alt="carnivore colorless gif dustin bates transmissions" class="imgf black transmissions" height="980" width="653">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/carnivore/3 (2).gif" alt="carnivore colorless gif dustin bates transmissions" class="imgf black transmissions" height="980" width="653">
</figure>



<!--<h1> DARK ON ME </h1> <br>  -->

<figure class="img">
<img src="/imagini/galerie/transmissions/dark-on-me/1 (6).jpg" alt="colorless transmissions dark on me compas star jpg" class="imgf black transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/dark-on-me/2 (3).jpg" alt="colorless transmissions dark on me compas star jpg" class="imgf black transmissions" height="980" width="653">
</figure>


<!--<h1> DOWN WITH THE FALLEN </h1> <br> -->

<figure class="img">
<img src="/imagini/galerie/transmissions/down-with-the-fallen/1 (7).jpg" alt="down with the fallen transmissions moon colorless jpg" class="imgf black transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/down-with-the-fallen/2 (4).jpg" alt="down with the fallen colorless empty city jpg transmissions" class="imgf black transmissions" height="980" width="653">
</figure>


<!--<h1> HALO </h1> <br> -->

<figure class="img">
<img src="/imagini/galerie/transmissions/halo/1 (9).jpg" alt="halo transmissions eclipse colorless jpg" class="imgf black transmissions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/halo/2 (5).jpg" alt="halo transmissions eclipse colored jpg" class="imgf colored transmissions" height="980" width="653">
</figure>
<figure class="img">
<img src="/imagini/galerie/transmissions/halo/3 (1).jpg" alt="halo transmissions eclipse colorless jpg" class="imgf black transmissions" height="980" width="653">
</figure>

<figure class="img">
<img src="/imagini/galerie/vessels/back-to-the-earth/1 (2).jpg" alt="" class="imgf black vessels" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/back-to-the-earth/2 (2).jpg" alt="" class="imgf black vessels" height="300" width="533">
</figure>

<figure class="img">
<img src="/imagini/galerie/vessels/bringing-it-down/1 (2).jpg" alt="" class="imgf colored vessels" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/bringing-it-down/2 (2).jpg" alt="" class="imgf black vessels" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/bringing-it-down/5 (2).jpg" alt="" class="imgf colored vessels" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/bringing-it-down/6 (2).jpg" alt="" class="imgf black vessels" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/bringing-it-down/7 (2).png" alt="" class="imgf colored vessels" height="497" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/die-for-you/1 (2).jpg" alt="" class="imgf black vessels" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/die-for-you/2.jpg" alt="" class="imgf colored vessels" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/die-for-you/3 (2).jpg" alt="" class="imgf black vessels" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/vessels/die-for-you/4 (2).jpg" alt="" class="imgf colored vessels" height="300" width="533">
</figure>


<figure class="img">
<img src="/imagini/galerie/divisions/1 (2).jpg" alt="" class="imgf colored divisions" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/2 (2).jpg" alt="" class="imgf black divisions" height="300" width="533">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/3 (2).jpg" alt="" class="imgf black divisions" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/4 (2).jpg" alt="" class="imgf colored divisions" height="300" width="589">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/6 (2).jpg" alt="" class="imgf black divisions" height="300" width="453">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/7 (2).jpg" alt="" class="imgf black divisions" height="300" width="775">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/8 (2).jpg" alt="" class="imgf black divisions" height="300" width="300">
</figure>
<figure class="img">
<img src="/imagini/galerie/divisions/5.jpg" alt="" class="imgf colored divisions" height="300" width="525">
</figure>
</div>

</main>
</body>
</html>